.weather {
  float: right;
  width: 230px;
  background: #63B4F6;
  color: #fff;

  padding: 20px;
  border-radius: 6px;
  text-align: center;
  &__title {
    color: #fff;
    font-size: 1em;
  }
  &__data{
    img{
      display: inline-block;
      vertical-align: middle;
    }
    span{
      display: inline-block;
      vertical-alёign: middle;
      font-size: 3.2em;
    }
  }
  &__water{
    font-size: 1em;
    color: #fff;
    margin: 1em 0em 0em 0em;
  }
}
